<!DOCTYPE html>
<html lang="en">

    <!-- Begin page content -->











    <footer class="footer">
      <div class="container">
        <p class="text-muted">版权所有，翻版必究</p>
      </div>
    </footer>
